/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 400px;
        width: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      p{
        font-size: 1.15rem;
      }
      #center-column{
        padding-left: 0px;
        padding-right: 0px;
      }
      .jumbotron{
        border-radius: 0px;
      }
      #header-jumbotron-temp{
        background:url('imagenes/fondo.jpeg') rgba(255, 255, 255, 1);
        background-size:cover;
        background-blend-mode: multiply;
      }
      .custom-map-control-button {
        appearance: button;
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        margin: 10px;
        padding: 0 0.5em;
        height: 40px;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
      }
      .custom-map-control-button:hover {
        background: #ebebeb;
      }
      .sinLeySeca{
        color:green;
        font-size: 1.15rem;
      }
      .conLeySeca{
        color:red;
        font-size: 1.15rem;
      }
      .listaAlcaldia{
        list-style-type: none;
        text-align: center;
        padding-left: 0px;
      }
      li{
        font-size: 1.15rem;
      }