/**
pallete
Wattle (amarillo) #DECF48
Jon (cafe) #3D1F1F
Thunderbird (naranja) #B6331B
Hampton (blanco-gris) #E7DDB6
*/
       #map {
        height: 400px;
        width: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      header{
        margin-bottom: 2rem;
      }
      /* Default height for small devices */
      #intro-example {
        height: 245px;
      }

      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-example {
          height: 245px;
        }
      }
      p{
        font-size: 1.15rem;
      }
      
      #center-column{
        padding-left: 0px;
        padding-right: 0px;

      }
      .alert-info {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }
      footer{
        border-radius: 0px;
        /**margin-bottom: 0px;*/
        background-color: #DECF48;
        
      }
      .custom-map-control-button {
        appearance: button;
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        margin: 10px;
        padding: 0 0.5em;
        height: 40px;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
      }
      .custom-map-control-button:hover {
        background: #ebebeb;
      }
      .sinLeySeca{
        color:green;
        font-size: 1.15rem;
      }
      .conLeySeca{
        color:red;
        font-size: 1.15rem;
      }
      .listaAlcaldia{
        list-style-type: none;
        text-align: center;
        padding-left: 0px;
      }
      li{
        font-size: 1.15rem;
      }
      blockquote{
        font-style:italic;
        padding: 0px 15px 0px 15px;
      }
      
      blockquote span{
        display:block;
        color:#333333;
        font-style: normal;
        font-weight: bold;
        margin-top:1em;
      }
      a{
        font-size: 1.15rem;
      }